h1 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #027B5C;
    text-transform: uppercase;
}
.page {
    position: absolute;
    top: 6vh;
    width: 100%;
}